*{
    margin:0;
    margin-left: 5px;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {

    background-color: #c7c8d3;

}

header {

    background-color: #8e8f9bbb;
    text-align:left;
    color: #282931;
    margin-left: -1%;

    ul{
        list-style-type: none;
        overflow: hidden;

        li{
            float: left;

            a{
                display: block;
                color: #fff;
                text-align: center;
                padding: 10% 0%;
                margin: 5px;
                text-decoration: none;
                background-color: #031C51;
                border: #fff;
                border-style: solid;
                border-radius: 10px;

            }
        }
    }

}

h2{
    color: #031C51;
}

button {
    padding: 2%;
    background-color: #031C51;
    color: white;
    border-color: white;
    border-radius: 20px;
    border-style:solid;
}

#imagemPedido{
    height: 10%;
    width: 10%;
}

.apresPedido h3{
    font-size: large;
    color:#031C51;

    i{
        color: #71727e;
        font-weight: lighter;
    }
}
.logo {

    display: flex;
    height: 100px;
    align-items: center;
    padding-top: 0.1%;
    padding-bottom: 0.1%;

    #logotexto {

        color: #031C51;


    }

    #logo {

        height: 100%;

        img {

            height: 100%;
            width: 100%;
            object-fit: contain;

        }

    }

}

a.listaPedido {

    text-decoration: none;
    font-size: large;
    color:#031C51;
    font-weight: bold;


}
.listapedido i{
    color: #71727e;
    font-weight: lighter;
    text-decoration: none;
    font-size: medium;
}


