{% load static %} <!-- Necesssário em todos os códigos, permite o uso do comando static -->

<!-- Essa é a página inicial, deve  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lá ele LANCHES</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="icon" type="image/png" href="{% static 'imagens/lanches.png' %}">
</head>
<body>

    <!-- Variável do banco: 'item' -->

    <div class="pedidos">
        <h2>Cardápio</h2>

        {% for item in item %} <!-- Para {variavel local} em {array do banco} -->
        
        <a class="pedidos" id="{{item.nome}}" href="{% url 'Pedido' item.id %}">
            <h1>{{item.nome}} - <b>{{item.preco}}</b></h1>
            <img src="{{item.imagem.url}}">
        </a>

        {% endfor %}
    </div>

</body>
<script>
    var pagina = ''
</script>
<script src="{% static 'js/script.js' %}" type="text/javascript">
</script>

</html>