{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pedido.nome}}</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
</head>
<body>
    <!-- Variável do banco: 'pedido' -->
    <div class="apresPedido">
    
        <h3>{{pedido.nome}} <i>R${{pedido.preco}}</i> </h3>
        <br> 
        <p>em estoque: {{pedido.estoque}}</p>
    </div>

    <a href="{% url 'index' %}"><button>voltar</button></a>
</body>
</html>