{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salgados</title>
    <link rel="stylesheet" href="{% static 'css/css.css' %}">
    <link rel="icon" type="image/png" href="{% static 'imagens/lanches.png' %}">
</head>
<body>

    <div class="pedidos">
        <h2>Salgados</h2>

        {% for cat in cat %} <!-- Para {variavel local} em {array do banco} -->
        {% if cat.categoria == "2" %}

        <a class="pedidos" id="{{cat.nome}}" href="{% url 'Pedido' cat.id %}">
            <h1>{{cat.nome}} - <b>{{cat.preco}}</b></h1>
            <img src="{{cat.imagem.url}}">
        </a>

        {% endif %}
        {% endfor %}
    
    </div>
</body>
<script>
    var pagina = 'Salgados'
</script>
<script src="{% static 'js/script.js' %}" type="text/javascript">
</script>
</html>